<div class="carouselEvents">
	<a class="prevEventsBtn btns" href="javascript:;"></a>
	<a class="nextEventsBtn btns" href="javascript:;"></a>
	<div class="eventsContent">
		<ul class="events">
			
		</ul>
	</div>
</div>